{% load static %}
<link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
<div class="welcome-page">
	<p>
		<span class="alt-logo"><a href="/" style="color: white">S</a></span>
		<span class="header"> <a href="/">SeoulStack</a></span>
	</p>

	<div class="welcome">
		<p class="welcome-sub">SeoulStack FAQ</p>

		<p style="font-weight: 700">Are there rules for submissions and comments?</p>
		<p>Yes. Go to the <a href="{% url 'guidelines' %}">Guidelines</a> page.</p>

		<p style="font-weight: 700">Can I post jobs?</p>
		<p>No. I'm hoping to add a jobs board to this site in the near future.</p>

		<p style="font-weight: 700">Can I post stuff about K-pop or K-dramas?</p>
		<p>
			If it's deeply interesting and teaches us something new, like, for example, an in-depth
			story about the industry, or work culture at JYP, or a drama's impact on Korean
			culture/society, then YES. Otherwise, celeb gossip and such will be treated as spam and
			removed.
		</p>

		<p style="font-weight: 700">Are reposts ok?</p>
		<p>
			If a story has not had significant attention in the last year or so, a small number of
			reposts is ok. Otherwise we bury reposts as duplicates. Please don't delete and repost
			the same story. Deletion is for things that shouldn't have been submitted in the first
			place.
		</p>

		<p style="font-weight: 700">Are paywalls ok?</p>
		<p>It's ok to post stories from sites with paywalls that have workarounds.</p>
		<p>
			In comments, it's ok to ask how to read an article and to help other users do so. But
			please don't post complaints about paywalls. Those are off topic.
		</p>

		<p style="font-weight: 700">Can I ask people to upvote my submission?</p>
		<p>
			No. Users should vote for a story because they personally find it intellectually
			interesting, not because someone has content to promote.
		</p>

		<p style="font-weight: 700">Can I ask people to comment on my submission?</p>
		<p>
			No, for the same reason. It's also not in your interest. Readers are sensitive to this,
			and they will detect it, and use unkind words like 'spam'.
		</p>

		<p style="font-weight: 700">Can I delete my account?</p>
		<p>Yes. Email indyfob2008@gmail.com and we'll help you.</p>

		<p style="font-weight: 700">Can I change my username?</p>
		<p>Yes. Go to the profile page to update your username.</p>

		<p style="font-weight: 700">How do I resest my password?</p>
		<p>
			If you are logged in, you can reset it here.
		</p>
		<hr />
	</div>
</div>
